.connect__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/contactUs.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.connect__container-background img {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.connect__container-form-container {
    position: absolute;
    width: 100%;
}

.connect__container-form {
    margin-left: 20px;
    width: 50%;
    height: 100%;
}

.connect__container-form-contents{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.connect__container-form-title {
    width: 90%;
}
.connect__container-form-title h2{
    font-size: 1.6rem;
    text-align: center;
    color: var(--color-bg-why-blue);
    margin: 35px 0px 20px 0px;
}

.connect__container-form-title p{
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
    margin: 10px 0px 30px 0px;
}



.connect__container-form-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.connect__container-form-inputs input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid lightgrey; 
    
    
}

.connect__container-form-inputs input::placeholder {
    color: gray;
}

.connect__container-form-inputs input:focus {
    border: 1px solid var(--color-bg-why-blue);
}
.connect__container-form-name {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.connect__container-form-contact_info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.connect__container-form-company {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.connect__container-form-message{
    display: flex;
    align-items: center;
    width: 100%;
}

.connect__container-form-message textarea{
    width: 100%;
    height: 90px;
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid lightgrey; 
}

.connect__container-form-message textarea::placeholder {
    color: gray;
}

.connect__container-form-message textarea:focus {
    border: 0.5px solid var(--color-bg-why-blue);
}

.connect__container-form-submit {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.connect__container-form-submit input {
    width: 45%;
    height: 50px;
    margin: 10px;
    padding: 10px;
    border-radius: 50px;
    background-color: var(--color-navbar);
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    border: 0;
}


.connect__container-logo {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    align-items: flex-end;
    color: white;
}

.connect__container-logo-container-contents {
    width: 100%;
    margin-right: 20px;
    text-align: center;
}

.connect__container-logo-container-contents h2 {
    font-size: 1.6rem;
    margin: 0px 0px 30px 0px;
}

/* .connect__container-logo-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.connect__container-logo-img img{
    width: 100px;
    margin-right: 20px;
}

.connect__container-logo-description h1{
    font-size: 2rem;
    width: 58%;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin: 0px 0px 20px 0px;
}
.connect__container-logo p{
    margin: -20px 20px 0px 0px;
    width: 30%;
    display: flex;
    align-items: flex-end;
    text-align: start;
} */
@media screen and (max-width: 988px) {

    .connect__container-background img{
        height: 500px;
    }
    .connect__container-form-message textarea {
        height: 70px;
    }

    .connect__container-form {
        width: 70%;
        margin: auto;
    }

    
}

@media screen and (max-width: 420px) {
    .connect__container-form {
        width: 80%;
        margin: auto;
    }
}