


.slideContainer {
  position: relative; /* Ensure the p tag is positioned relative to this container */
}

.sliderStyles {
  background-color: var(--color-bg-lightblue);
}

.dotsContainerStyles {
  display: flex;
  justify-content: center;
}

.slideOverlay {
  font-family: var(--font-family);
  color: white;
  margin: 100px 0px 0px 100px;
}
.slideHeading {
  width: 400px;
  top: 0px;
  left: 0px;
  font-size: 35px; 
  padding: 20px 0px;
}
.slideTitle {
  width: 350px;
  font-size: 20px;
  padding: 0px 0px 20px; 
  border-radius: 0px;

}

.slideButton {
  display: flex;
  font-size: 15px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 3px;
  width: 100px;
  height: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
}



.animation-class {
  animation-name: fade-left; 
  animation-duration: 2s; 
  animation-fill-mode: forwards;
}

@keyframes fade-left {
  from {
    /* Initial styles for your animation */
    transform: translateX(130px);
  }
  to {
    /* Final styles for your animation */
    transform: translateX(0px);
  }
}

@media screen and (max-width: 888px) {
  
  .sliderStyles {
    height: 300px;
    overflow: hidden;
  }
  .slideOverlay {
    margin: 80px 0px 0px 80px;
  }

  .slideHeading {
    width: 300px;
    font-size: 25px; 
    padding: 20px 0px;
  }
  .slideTitle {
    font-size: 15px;
    padding: 0px 0px 20px; 
    width: 400px;
    border-radius: 0px;
  }
  .slideButton {
    font-size: 15px;
    width: 100px;
    height: 40px;
  }
}

@media screen and (max-width: 500px) {

  .slideTitle {
    width: 260px;
  }
  
}