* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: var(--font-family);
}
.App {
    position: relative;
  }
  
  .Navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .other {
    margin-top: 70px; 
  }
  
  
  .containerStyles {
    width: "100%";
    margin: "0 auto";
  }