

:root {
    --font-family : "Poppins", Sans-serif;

    --color-navbar : #2E455C;
    --color-clientele : #01172F;
    --color-why : #082342;
    --color-text-green : #21D1B3;
    --color-text-blue : #273272;
    --color-bg-lightblue: #F3F4FA;
    --color-bg-blue: #01172F;
    --color-bg-why-blue: #082342;
    --color-text-lightblue: #6880A1;
    --color-text-darkblue: #00174d;
    --color-line: #d2d3f7;
}
.color_bg-blue {
    background-color: var(--color-bg-blue);
}
.color_bg-why {
    background-color: var(--color-bg-why-blue);
}
.color_bg-lightblue {
    background-color: var(--color-bg-lightblue);
}