.newsPage__container {
    margin: 40px auto 50px auto;
    width: 95%;
}

.newsPage__container-content img {
    width: 50%;
    margin: 0px 0px 20px 20px;
    float: right;
}

.newsPage__container-contents {
    width: 100%;
    float: left;
}

.newsPage__container-title h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--color-navbar);
}

.newsPage__container-title p {
    font-size: 0.9rem;
    line-height: 1.6rem;
    opacity: 0.8;
}

@media screen and (max-width: 790px) {
    .newsPage__container-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0px 0px 20px 0px;
        float: none;
    }
    .newsPage__container-content img {
        width: 90%;
        margin: 0px 0px 20px 0px;
        float: none;
    }
    .newsPage__container-title {
        width: 90%;
        float: none;
    }

    .newsPage__container-title h1 {
        font-size: 1.4rem;
    }
}
